<!-- FORMULÁRIO RETRÁTIL PARA EXIBIR USUÁRIOS CADASTRADOS-->
<table class="text-center mt-3 w-100">
            
    <thead>
        <tr class="tr-head">
            <th scope="col">Nome de usuário</th>
            <th scope="col">Primeiro Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
        
    <tbody>
        
        <tr class="tr-sector">
            <td class="text-center"></td>
            <td class="text-center">Nome do usuário</td>
            <td class="text-center">
                        <a class="btn" href="#collapse_edit_user" role="button" aria-expanded="false" aria-controls="Exibir usuário" title="Remover usuário">
                        <i class="fa-solid fa-trash"></i></a>
                    </td>
        </tr>
    </tbody>
</table>
