{% extends "global/base.html" %}

{% block content %}

<h2 class="text-center mt-3">ENTRAR</h2>

{% if request.user.is_authenticated %}
    <div class="row mt-3 text-center">
        <div class="container bg-dark-caramel text center mt-2 mb-3">
             <span class="login-form-title login-text">Você está logado como {{ request.user.username }}. Por favor,
            <form action="{% url 'users:logout' %}" method='POST' class="d-inline">
            {% csrf_token %}    
                <input type="hidden" name="username" value="{{ request.user.username }}">
                <button class="btn-plain-text p-0 m-0 align-baseline text-decoration-underline" type="submit">clique aqui</button></form> para sair.</span><br>
            <span class="login-form-title login-text">Ou, <a href={% url 'pet:panel' %} class="btn btn-plain-text p-0 m-0 align-baseline text-decoration-underline">
                aqui</a> para ir para o Painel Principal</span>
        </div>
    </div>
{% endif %}

<div class="spacing-row"></div>

<div class="row mt-3">
    <div class="col-12 col-md-4 offset-md-4 align-items-center">
        {% include 'users/partials/login_form.html' %}
    </div>
</div>

    {% include 'pets/partials/message_toast.html' %}


{% endblock %}