<div class="row mt-3 justify-content-center">           
    <div class="col-md-8">
        <h4 class="border-bottom border-section pb-2 mb-3"></h4>
    </div>
</div>

<div class="row mt-1 justify-content-center">           
    <div class="col-md-8">
        <div class="row mt-3 justify-content-center">    
            <div class="col-md-9"></div>
            <div class="col-md-3 d-flex flex-column align-items-center">    
                <a href={% url 'medical:home' %} role="button" class="btn btn-primary ms-3 me-3 mb-3 mt-3 btn-login" id="btn_voltar" title="Voltar">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>