<!-- TO DO: Limitar o tamanho do Body para eliminar parte da sobra abaixo-->
{% extends "global/base.html" %}

{% load static %}



{% block content %}

  {% if form.instance and form.instance.id_pet %}
  <h2 class="text-center mt-3">EDITAR CÃO</h2>
    
  <div class="row mt-3 align-items-center justify-content-center">
    <div class="col-md-4 .offset-md-4 col-12 p-0"> <!-- Coluna ocupando 1/4 da linha -->
      {% include "pets/partials/petcard.html" %}
   </div>
  </div>
    
  {% else %}
    <h2 class="text-center mt-3">CADASTRO DE PETS</h2>      
  {% endif %}
  
  <form id="dog_register" method="POST" enctype="multipart/form-data" action="{% if form.instance and form.instance.id_pet %}{% url 'pet:pet_update' form.instance.id_pet %}{% else %}{% url 'pet:pet_create' %}{% endif %}">
  {% csrf_token %}
    <!--LINHA DE DADOS BÁSICOS-->
    <div class="row mt-3">
      
      <div class = "card user-card me-4 mb-3 rounded shadow">
        <div class="card-header" style="background-color:#FEF3D2; border-color:#B26E39;">
          <span class="register-form-title">DADOS BÁSICOS</span>
        </div>
        
        <div class="card-body">
          {%include "pets/partials/basic_dog_card.html" %}
      
      </div>
    
    </div>
    
    <div class="row mt-3">
      
      <div class = "card user-card me-4 mb-3 rounded shadow">
        <div class="card-header" style="background-color:#FEF3D2; border-color:#B26E39;">
          <span class="register-form-title">DADOS DE TRATAMENTO</span>
        </div>
        
        <div class="card-body">
          {%include "pets/partials/treatment_dog_card.html" %}
        </div>

        <div class="row mt-3">
          <div class="text-center">
            {% if form.instance and form.instance.id_pet %}
              <a href="{% url 'pet:dog_med_event_view' form.instance.id_pet %}"
                role="button"
                class="btn btn-primary ms-3 me-3 mb-3 mt-3 btn-login"
                id="btn_eventos">
                VISUALIZAR EVENTOS MÉDICOS REGISTRADOS
              </a>
            {% endif %}
          </div>
        </div>
        <div class="spacing-row"></div>
        <div class="spacing-row"></div>
      
      </div>
    </div>
    
    <div class="row mt-4">
      
      <div class = "card user-card me-4 rounded shadow">
        <div class="card-header" style="background-color:#FEF3D2; border-color:#B26E39;">
          <span class="register-form-title">FOTOS</span>
        </div>
        
        <div class="card-body">
          {%include "pets/partials/photo_dog_card.html" %}
        </div>
      
      </div>
    </div>
    
    <div class="row mt-3">
      <div class="text-center">
        <button type="submit" class="btn btn-primary mb-3 mt-3 me-3 btn-login" id="btn_registrar">REGISTRAR</button>
        <button type="reset" class="btn btn-primary ms-3 mb-3 mt-3 me-3 btn-login" id="btn_limpar">LIMPAR</button>
        <a href="{% url 'pet:panel' %}" role="button" class="btn btn-primary ms-3 me-3 mb-3 mt-3 btn-login" id="btn_voltar">VOLTAR</a>
      </div>
    </div>
  </form>
  {% if form.instance and form.instance.id_pet %}
    <form method="POST" action="{% url 'pet:pet_delete' form.instance.id_pet %}">
      {% csrf_token %}
      <div class="row mt-3">
        <div class="text-center">
          <button type="submit" class="btn btn-primary ms-3 me-3 mb-3 mt-3 btn-login btn-danger" id="btn_excluir">EXCLUIR</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock %}
{% block scripts %}
<script src= "{% static 'pets/js/pet_register.js' %}"></script>
{% endblock %}