{% extends "global/base.html" %}

{% block content%}

<!--COLUNA 1-->
<div class="row mt-3">
  
  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <a href = {% url 'pet:pet' %} role="button" class="btn btn-icon mb-3">
      <i class="fas fa-dog mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">REGISTRAR CÃO</span>
    </a>
  </div>

  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <a href = {% url 'pet:petlist' %} role="button" class="btn btn-icon mb-3">
      <i class="fa-solid fa-book-open mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">VISUALIZAR CÃES</span>
    </a>
  </div>

  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <a href = {% url 'pet:search' %} role="button" class="btn btn-icon mb-3">
      <i class="fas fa-magnifying-glass mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">PESQUISAR CÃO</span>
    </a>
  </div>
  
</div>

<div class="spacing-row"></div>
<div class="spacing-row"></div>

<div class="row mt-3">
  
  <div class="col-12 col-md-6 d-flex flex-column align-items-center">
    <a href = {% url 'pet:dog_medical_event' %} role="button" class="btn btn-icon mb-3">
      <i class="fas fa-hand-holding-medical mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">REGISTRAR EVENTO CÃO</span>
    </a>
  </div>

  <div class="col-12 col-md-6 d-flex flex-column align-items-center">
    <a href = {% url 'pet:sector_medical_event' %} role="button" class="btn btn-icon mb-3">
      <i class="fas fa-syringe mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">REGISTRAR EVENTO SETOR</span>
    </a>
  </div>

</div>

<div class="spacing-row"></div>
<div class="spacing-row"></div>

<div class="row mt-3">

  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <a href = {% url 'pet:sector_manager' %} role="button" class="btn btn-icon mb-3">
      <i class="fa-solid fa-house mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">GERENCIAR SETORES</span>
    </a>
  </div>

  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <a href = {% url 'users:register' %} role="button" class="btn btn-icon mb-3">
      <i class="fa-solid fa-users mb-2 btn-icon-main"></i>
      <span class="btn-icon-text">GERENCIAR USUÁRIOS</span>
    </a>
  </div>

  <div class="col-12 col-md-4 d-flex flex-column align-items-center">
    <form method="POST" action={% url 'users:logout' %}>
      {% csrf_token %}
      <button type="submit" class="btn btn-icon mb-3">
        <i class="fa-solid fa-right-from-bracket mb-2 btn-icon-main"></i>
        <input type="hidden" name="username" value="{{ request.user.username }}">
        <span class="btn-icon-text">SAIR</span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
