<!-- PRIMEIRA LINHA-->
<div class="row mt-3 g-3 align-items-center">

    <!-- ESPÉCIE -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.species.id_for_label }}" class="form-label register-form-title">ESPÉCIE</label>
        {{ form.species }}
    </div>
  
    <!-- NOME -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.name.id_for_label }}" class="form-label register-form-title">NOME</label>
        {{ form.name }}
    </div>
  
    <!-- SEXO -->
    <div class="col-12 col-md-4 text-center">
        <label class="form-label register-form-title">SEXO</label>
        <div class="d-flex justify-content-center">
            {% for radio in form.sex %}
                <div class="form-check form-check-inline custom-radio">
                    {{ radio }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="spacing-row"></div>
        
        <!-- SEGUNDA LINHA -->
<div class="row mt-3 g-3 align-items-center">

    <!-- IDADE -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.age.id_for_label }}" class="form-label register-form-title">IDADE (meses)</label>
        {{ form.age }}
    </div>
      
    <!-- CHEGADA -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.arrival.id_for_label }}" class="form-label register-form-title">CHEGADA</label>
        {{ form.arrival }}
    </div>
      
    <!-- DATA DE CHEGADA -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.arrival_date.id_for_label }}" class="form-label register-form-title">DATA DE CHEGADA</label>
        {{ form.arrival_date }}
    </div>
            
</div>
<div class="spacing-row"></div>
<div class="row mt-3 g-3 align-items-center">
    <!-- LOCALIZAÇÃO -->
    <div class="col-12 col-md-4 text-center">
        <label for="{{ form.placement.id_for_label }}" class="form-label register-form-title">LOCALIZAÇÃO</label>
        {{ form.placement }}
    </div>
</div>
<!-- FIM DO CARD RETRÁTIL DE REGISTRO DE CÃO--> 
