{% load static %}

<div class="row">
  <div class="col-md-12 text-center">
    <div class="preview-container justify-content-center d-flex flex-column align-items-center">
      {% if form.instance.photo %}
        <img id="photoPreview" src="{{ form.instance.photo.url }}" alt="Prévia da foto do pet" class="img-fluid" style="max-width: 300px; max-height: 300px;">
      {% else %}
        <img id="photoPreview" src="{% static 'pets/img/placeholder_front_photo.png' %}" alt="Prévia da foto do pet" class="img-fluid" style="max-width: 300px; max-height: 300px;">
      {% endif %}
    </div>

    <div class="mb-3 justify-content-center d-flex flex-column align-items-center mt-3">
      <label for="{{ form.photo.id_for_label }}" class="form-label">Foto do Pet</label>
      {{ form.photo }}
    </div>
  </div>
</div>
