{% load static %}

{% if request.user.is_authenticated and request.user.shelter %}
    <div class="spacing-row"></div>
    <div class="container bg-light-caramel shadow-sm py-3 rounded">
        <div class="row justify-content-center align-items-center">
        
        <div class="col-auto d-flex align-items-center">
            
            {% if request.user.shelter.logo %}
                <img src="{{ request.user.shelter.logo.url }}" 
                     alt="Logo {{ request.user.shelter.name }}" 
                     height="50" 
                     class="me-3"> {% endif %}

            <span class="shelter-name mb-0">{{ request.user.shelter.name }}</span>
        </div>
        <div class="spacing-row"></div>
    </div>
{% endif %}
                
                
                     
                
                

