<div class="row mt-3 g-3 align-items-center">

    <!-- CHIP -->
    <div class="col-12 col-md-6 text-center">
        <label for="{{ form.chip.id_for_label }}" class="form-label register-form-title">CHIP</label>
        {{ form.chip }}
    </div>
      
    <!-- SITUAÇÃO -->
    <div class="col-12 col-md-6 text-center">
        <label for="{{ form.status.id_for_label }}" class="form-label register-form-title">SITUAÇÃO</label>
        {{ form.status }}
    </div>
</div>
<div class="spacing-row"></div>

<div class="row mt-3 g-3 align-items-center">
    <!-- HISTÓRICO -->
    <div class="col-12 text-center">
        <label for="{{ form.history.id_for_label }}" class="form-label register-form-title">HISTÓRICO</label>
        {{ form.history }}
    </div>
</div>
